//mixins


@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}


@mixin nav-text {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 10px;
  margin: 0 11px;
  letter-spacing: 1.6px;
}

@mixin smooth-trans {
  transition: {
    property: color;
    duration: 0.3s;
    timing-function: ease;
    delay: 0s;
  }
}

@mixin mQ($screen-size...){
  @if length($screen-size) == 1 {
    @media screen and (max-width: nth($screen-size, 1)) {
      @content;
    }
  }
  @if length($screen-size) == 2 {
    @media screen and (max-width: nth($screen-size,1)) and (min-width: nth($screen-size, 2)) {
      @content;
    }
  }
}
