@import 'mixins';
@import 'variables';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
}

header {
  @include flex-row;
  height: 89px;
  margin: 0 50px;
  .menu {
    display: none;
  }
  .logo img {
    width: 130px;
    height: auto;
    margin: 20px 20px 20px 0px;
  }
  nav {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    .links a {
      @include nav-text;
      @include smooth-trans;
      &:hover {
        color: $grey;
      }
      &:first-child {
        font-weight: bold;
      }
    }
  }
  .login {
    a {
      @include nav-text;
      @include smooth-trans;
      font-weight: 800;
      &:first-of-type {
        font-weight: normal;
      }
    }
    .lnr {
      font-weight: 800;
      font-size: 13px;
    }
    .icons {
      display: none;
    }
  }
} //end of header

.banner1 {
  // display: none;
  margin-bottom: -110px;
  text-align: center;
  img {
    width: 100%;
  }
  .banner-text {
    position: relative;
    bottom: 44vw;
    text-transform: uppercase;
  }
  h2 {
    font-size: 3.5vw;
    font-weight: bolder;
  }
  p{
    font-size: 1.7vw;
    font-weight: bold;
    margin-top: 5px;
  }
  button {
    position: relative;
    bottom: 20vw;
    width: 230px;
    height: 56px;
    font-size: 26px;
    line-height: 26px;
    font-weight: 800;
    background-color: white;
    border: none;
  }
} //end of banner1

.design-burb {
  text-align: center;
  width: 50%;
  margin: 0 25%;
  h1 {
    font-size: 3.7vw;
  }
  p {
    font-size: 1.2vw;
    line-height: 150%;
    letter-spacing: 1px;
    margin: 20px 0;
  }
  .social-media {
    @include flex-row;
    justify-content: space-around;
    padding: 10px 200px;
    img {
      height: 1.5vw;
    }
  }
} //end of deign-blurb

.banner2 {
  @include flex-row;
  height: 540px;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  .red-dot {
    color: white;
    width: 45%;
    height: 100%;
    background-color: $back-grey;
    img {
      height: 10vw;
      margin: 100px 0;
    }
    h1 {
      font-size: 3vw;
    }
    p {
      font-size: 1.2vw;
    }
  }
  .learn-more {
    width: 55%;
    img {
      height: auto;
      width: 100%;
    }
    p {
      position: relative;
      bottom: 10vw;
      color: red;
    }
  }
} //end of banner2

.products {
  text-align: center;
  text-transform: uppercase;
  margin: 55px;
  height: 480px;
  overflow: hidden;
  > p {
    font-size: 12px;
    font-weight: 800;
    margin: 40px 0;
  }
  .product-display  {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 50px;
  }
  .product {
    width: 250px;
    height: 315px;
    margin: 0 10px;
    margin-bottom: 100px;
    img {
      width: 100%;
      height: auto;
    }
    h2 {
      font-size: 11px;
      font-weight: 500;
      margin: 25px 10px 10px 10px;
    }
    p {
      font-size: 11px;
      text-transform: lowercase;
      .fancy {
        font-style: italic;
      }
    }
  }
} //end of products

.catagories {
  @include flex-row;
  background-color: $light-grey;
  > p {
    align-self: center;
    font-size: 2.6vw;
    font-weight: bold;
    padding: 50px;
    width: 30%;
  }
  .cat-container {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 50px;
  }
  a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    width: 30%;
    margin: 0 8px;
    img {
      width: 100%;
      height: auto;
    }
    p {
      position: relative;
      bottom: 13vw;
      left: 10px;
      font-size: 12px;
      font-weight: bold;
    }
  }
} // end of projust catagoies

.site-links {
  @include flex-row;
  justify-content: center;
  align-items: center;
  a {
    padding: 40px 15px;
  }
  img {
    width: 90px;
    height: 45px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
} //end of site-links


footer {
  background-color: #f2f2f2;
  opacity: 0.6;
  @include nav-text;
  .footer-main {
    @include flex-row;
  }
  .foot-links {
    @include flex-row;
    justify-content: space-around;
    width: 50%;
  }
  .subscribe {

  }
} //end of footer


//media queries

@media screen and (max-width: 999px) and (min-width: 778px) {
  header {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    height: 125px;
    .menu {
      display: block;
      font-size: 20px;
    }
    .logo img {
      width: 250px;
      height: auto;
    }
    nav {
      width: 20%;
      .links {
        display: none;
      }
      .login > a {
        display: none;
      }
      .icons {
        display: block !important;
      }
    }
  }
  .learn-more {
    width: 55%;
    img {
      height: 565px !important;
      width: auto !important;
    }
  }
}

@media screen and (max-width: 777px) {
  header {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    height: 125px;
    .menu {
      display: block;
      font-size: 20px;
    }
    .logo img {
      width: 250px;
      height: auto;
    }
    nav {
      width: 20%;
      .links {
        display: none;
      }
      .login > a {
        display: none;
      }
      .icons {
        display: block !important;
      }
    }
  }
  .banner1 {
    height: 800px;
    img {
      height: 650px;
      width: auto;
      overflow: hidden;
      position: relative;
      left: -50px;
    }
    .banner-text {
      position: relative;
      bottom: 85vw;
      h2 {
        font-size: 7vw;
      }
      p{
        font-size: 3.5vw;
      }
    }
    button {
      bottom: 30vw;
    }
  }
  .design-burb {
    width: 80%;
    margin: 0 10%;
    h1 {
      font-size: 4.2vw;
    }
    p {
      font-size: 2.1vw;
    }
    .social-media {
      padding: 10px 100px;
      img {
        height: 2.8vw;
      }
    }
  }
  .banner2 {
    flex-direction: column;
    height: auto;
    .red-dot {
      width: 100%;
      img {
        height: 18vw;
        margin: 0 0 50px 0;
        position: relative;
        top: -10px;
      }
      h1 {
        margin: 30px 0 20px 0;
        font-size: 6.5vw;
      }
      p {
        font-size: 2vw;
        margin: 0 30% 40px 30%;
      }
    }
    .learn-more {
      width: 100%;
      height: 440px;

      img {
        width: 100%;
        height: auto;
      }
      p {
        position: relative;
        bottom: 50vw;
        color: red;
        font-size: 1.6vw;
        font-weight: 500;
        letter-spacing: 1px;
      }
    }
  } //end of banner2 mQ
  .products {
    margin: 40px;
    height: 850px;
    overflow: hidden;
    .product-display  {
      margin: 0 50px;
    }
    .product {
      width: 100%;
      height: auto;
      margin-bottom: 200px;
    }
  } //end of products mQ
  .catagories {
    flex-direction: column;
    > p {
      align-self: flex-start;
      font-size: 4vw;
      padding: 80px 0 50px 30px;
      width: 60%;
    }
    .cat-container {
      flex-direction: column;
      padding: 0;
    }
    a {
      width: 150%;
      margin: 0 8px;
      p {
        position: relative;
        bottom: 42vw;
        font-weight: 500;
        letter-spacing: 2px;
      }
    }
  } // end of projust catagoies mQ
}




//end
