@import 'mixins';
@import 'variables';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
}

header {
  @include flex-row;
  height: 89px;
  margin: 0 50px;
  .logo img {
    width: 130px;
    height: auto;
    margin: 20px 20px 20px 0px;
  }
  nav {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    .links a {
      @include nav-text;
      @include smooth-trans;
      &:hover {
        color: $grey;
      }
      &:first-child {
        font-weight: bold;
      }
    }
  }
  .login {
    a {
      @include nav-text;
      @include smooth-trans;
      font-weight: 800;
      &:first-of-type {
        font-weight: normal;
      }
    }
    .lnr {
      font-weight: 800;
      font-size: 13px;
    }
  }
}

.banner {
  text-align: center;
  img {
    width: 100%;
  }
  .banner-text {
    position: relative;
    bottom: 44vw;
    text-transform: uppercase;
  }
  h2 {
    font-size: 3.5vw;
    font-weight: bolder;
  }
  p{
    font-size: 1.7vw;
    font-weight: bold;
    margin-top: 5px;
  }
  button {
    position: relative;
    bottom: 20vw;
    width: 230px;
    height: 56px;
    font-size: 26px;
    line-height: 26px;
    font-weight: 800;
    background-color: white;
    border: none;
  }
}
