@import 'mixins';
@import 'variables';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
}

header {
  @include flex-row;
  height: 89px;
  margin: 0 50px;
  .logo img {
    width: 130px;
    height: auto;
    margin: 20px 20px 20px 0px;
  }
  nav {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    .links a {
      @include nav-text;
      @include smooth-trans;
      &:hover {
        color: $grey;
      }
      &:first-child {
        font-weight: bold;
      }
    }
  }
  .login {
    a {
      @include nav-text;
      @include smooth-trans;
      font-weight: 800;
      &:first-of-type {
        font-weight: normal;
      }
    }
    .lnr {
      font-weight: 800;
      font-size: 13px;
    }
  }
} //end of header

.banner1 {
  display: none;
  margin-bottom: -110px;
  text-align: center;
  img {
    width: 100%;
  }
  .banner-text {
    position: relative;
    bottom: 44vw;
    text-transform: uppercase;
  }
  h2 {
    font-size: 3.5vw;
    font-weight: bolder;
  }
  p{
    font-size: 1.7vw;
    font-weight: bold;
    margin-top: 5px;
  }
  button {
    position: relative;
    bottom: 20vw;
    width: 230px;
    height: 56px;
    font-size: 26px;
    line-height: 26px;
    font-weight: 800;
    background-color: white;
    border: none;
  }
} //end of banner1

.design-burb {
  text-align: center;
  width: 50%;
  margin: 0 25%;
  h1 {
    font-size: 3.7vw;
  }
  p {
    font-size: 1.2vw;
    line-height: 150%;
    letter-spacing: 1px;
    margin: 20px 0;
  }
  .social-media {
    @include flex-row;
    justify-content: space-around;
    padding: 10px 200px;
    img {
      height: 1.5vw;
    }
  }
} //end of deign-blurb

.banner2 {
  @include flex-row;
  height: 540px;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  .red-dot {
    color: white;
    width: 45%;
    height: 100%;
    background-color: $back-grey;
    img {
      height: 10vw;
      margin: 100px 0;
    }
    h1 {
      font-size: 3vw;
    }
    p {
      font-size: 1.2vw;
    }
  }
  .learn-more {
    width: 55%;
    img {
      height: auto;
      width: 100%;
    }
    p {
      position: relative;
      bottom: 100px;
      color: red;
    }
  }
} //end of banner2

.products {
  text-align: center;
  text-transform: uppercase;
  margin: 55px;
  height: 335px;
  > p {
    font-size: 12px;
    font-weight: 800;
    margin: 40px 0;
  }
  .product-display  {
    @include flex-row;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 50px;
  }
  .product {
    width: 250px;
    height: 315px;
    margin: 0 10px;
    img {
      width: 100%;
      height: auto;
    }
    h2 {
      font-size: 11px;
      font-weight: bold;
      margin: 10px;
    }
    p {
      font-size: 11px;
      .fancy {
        font-style: italic;
      }
    }
  }
}






//end
